/* color themes */
.theme-pi .navbar-default {
	background-color: #D6264F; /*222222*/
}
.theme-pi .table tr.active th,
.theme-pi .table tr.active td {
	background: rgba(214,38,79,0.8); /*222222*/
	color: #FFFFFF;
	font-weight: bold;
}
.theme-pi #seekbar #seekbar_fill {
	background: rgba(214,38,79,0.8); /*222222*/
}
.theme-pi .navbar-default,
.theme-pi .navbar-default .navbar-collapse,
.theme-pi .navbar-default .navbar-form {
	border-color: #CD2149; /*121212*/
}
.theme-pi footer .glyphicon {
	color: #CD2149; /*121212*/
}
.theme-pi .navbar-default .navbar-nav > .active > a,
.theme-pi .navbar-default .navbar-nav > .active > a:hover,
.theme-pi .navbar-default .navbar-nav > .active > a:focus,
.theme-pi .navbar-default .navbar-toggle:hover,
.theme-pi .navbar-default .navbar-toggle:focus,
.theme-pi .navbar-default .navbar-nav > li > a:hover,
.theme-pi .navbar-default .navbar-nav > li > a:focus {
	background-color: #BD1F44; /*090909*/
}


.navbar-brand img {
	position: relative;
	top: -8px;
	display: inline-block;
	vertical-align: top;
	margin-right: 5px;
}
.navbar-nav > li > .glyphicon {
	vertical-align: top;
	margin-right: 5px;
}


/* sticky footer (http://getbootstrap.com/examples/sticky-footer-navbar) */
html {
	position: relative;
	min-height: 100%;
}
body {
	margin-bottom: 60px;
}
footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #f5f5f5;
}
/* custom footer style */
footer .container-fluid {
	margin: 0 auto;
	padding: 0;
	text-align: center;
}
footer .container-fluid .row {
	margin: 0;
}
footer .row {
	/* display:flex; align-items:center; */
}
footer .row > div {
	padding: 0;
}
@media (max-width:991px) {
	footer .row > div {
		text-align: center;
	}
}

footer #seekbar {
	width: 100%;
	height: 20px;
	background-color: #CCCCCC;
	overflow: hidden;
}
footer #seekbar > div {
	display: inline-block;
	height: 100%;
}
footer #seekbar #seekbar_fill {
	width: 0;
}
footer #seekbar #elapsed {
	margin-left: 5px;
}
footer #seekbar #length {
	margin-right: 5px;
}

footer .infobar {
	padding: 8px 0;
}

footer #trackinfo {
	padding: 0 15px;
}
footer #trackinfo #info-title {
	font-weight: bold;
}

footer div.glyphicons {
	padding-top: 8px;
}
footer .glyphicon {
	vertical-align: middle;
	margin: 0 10px;
	font-size: 42px;
	color: #CD2149;
}
footer .glyphicon:hover,
footer .glyphicon:focus {
	outline: none;
	text-decoration: none;
}


#playlist {
	table-layout: fixed;
}
#playlist th,
#playlist td {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#playlist tr.item {
	cursor: pointer;
}
#playlist tr.item.active {
	cursor: auto;
}
#playlist tr.dummy {
	display: none;
}

#playlist tr .title {
	width: 50%;
}
#playlist tr .artist,
#playlist tr .album {
	width: 20%;
}
#playlist tr .length {
	width: 10%;
}
@media (max-width:991px) {
	#playlist tr .album {
		display: none;
	}
}