/* pi-colored navbar */
.navbar-default {
	background-color: #D6264F; /*222222*/
}
.navbar-default,
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #CD2149; /*121212*/
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	background-color: #BD1F44; /*090909*/
}


/* sticky footer (http://getbootstrap.com/examples/sticky-footer-navbar) */
html {
	position: relative;
	min-height: 100%;
}
body {
	margin-bottom: 60px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #f5f5f5;
}
/* custom footer style */
.footer .container {
	margin: 0 auto;
	padding: 8px 0 0 0;
	text-align: center;
}
.footer .glyphicon {
	vertical-align: middle;
	margin: 0 10px;
	font-size: 42px;
	color: #BD1F44;
}
.footer .glyphicon:hover,
.footer .glyphicon:focus {
	outline: none;
	text-decoration: none;
}